h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: 500;
}
body{
    font-family: monospace;
    color: #333;
}
.item{
    margin: 5px;
    background-color: tomato;
    text-align: center;
    font-size: 1.5em;
}
.container{
    display: flex;
    max-width: 420px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.Grow0{
    flex-grow: 0;
}
.Grow1{
    flex-grow: 1;
}
.Grow2{
    flex-grow: 2;
}
.coluwn{
    flex-direction: column;
}